<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{%static 'css/estilos.css'%}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <link rel="shortcut icon" href="{%static 'img/news.png'%}">
    <title>Registro Colaborador</title>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-sm navbar-light bg-dark baralign">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{%static 'img/news.png'%}" width="70" height="60">
        </a>

        <div class="collapse navbar-collapse" id="opciones">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="{% url 'index' %}">Inicio</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="{% url 'verdatos' %}">Datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="{% url 'form_colabora' %}">Registrarse</a>
                </li>
            </ul>
        </div>

    </nav>

    <div class="modal-dialog text-center">
        <div class="col-sm-15 main-section">
            <div class="modal-content">
                <div class="col-12 user-img"> <br>
                    <h1>¡Regístrate como colaborador!</h1><br>
                </div>
                <form class="col-12" method="POST" action="" id="formulario" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group" id="user-group">
                        {{colabora_form.rut.label}}
                        {{colabora_form.rut}}
                    </div>
                    <div class="form-group" id="user-group">
                        {{colabora_form.fotop.label}}
                        {{colabora_form.fotop}}
                    </div>
                    <div class="form-group" id="user-group">
                        {{colabora_form.nombre.label}}
                        {{colabora_form.nombre}}
                    </div>
                    <div class="form-group" id="user-group">
                        {{colabora_form.celular.label}}
                        {{colabora_form.celular}}
                    </div>
                    <div class="form-group" id="user-group">
                        {{colabora_form.direccion.label}}
                        {{colabora_form.direccion}}
                    </div>
                    <div class="form-group" id="user-group">
                        {{colabora_form.correo.label}}
                        {{colabora_form.correo}}
                    </div>
                    <div class="form-group" id="user-group">
                        {{colabora_form.pais.label}}
                        {{colabora_form.pais}}
                    </div>
                    <div class="form-group" id="contrasena-group">
                        {{colabora_form.contraseña.label}}
                        {{colabora_form.contraseña}}
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Crear cuenta
                    </button>
                </form> <br>
            </div>
        </div>
    </div> <br><br>

</body>

</html>